{% if page.type != 'excursion' %}
	{% assign size = page.content | strip | size %}
	{% if size != 0 %}
		<article id = "kapitel-{{page.number}}" class ="chapter">
					<h{{ page.number | split: "." | size | plus: 1}}>
				<span class ="kapitel-nummer">{{page.number}}</span>
				{{ page.title }}
			</h{{ page.number | split: "." | size | plus: 1}>
			{{page.content | markdownify}}
		</article>
	{% else %}
		<h{{ page.number | split: "." | size | plus: 1}}>
				<span class ="kapitel-nummer">{{page.number}}</span>
				{{ page.title }}
		</h{{ page.number | split: "." | size | plus: 1}>
	{% endif %}

{% endif %}

{% if page.type == 'excursion' %}
	<article id = "exkurs-{{page.number}}" class = "exkurs">
		<h5>
			<span class ="kapitel-nummer">{{page.number}}</span>
			{{ page.title }}
		</h5>
		{{page.content | markdownify}}
	</article>
{% endif %}
