@font-face {
  font-family: "waldlaeuferzeichen-pfadfinden";
  src:url("../fonts/waldlaeuferzeichen-pfadfinden.eot");
  src:url("../fonts/waldlaeuferzeichen-pfadfinden.eot?#iefix") format("embedded-opentype"),
    url("../fonts/waldlaeuferzeichen-pfadfinden.woff") format("woff"),
    url("../fonts/waldlaeuferzeichen-pfadfinden.ttf") format("truetype"),
    url("../fonts/waldlaeuferzeichen-pfadfinden.svg#waldlaeuferzeichen-pfadfinden") format("svg");
  font-weight: normal;
  font-style: normal;

}

.vcpwlz-wlz-einzeln-25 {
	font-family: "waldlaeuferzeichen-pfadfinden" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "y";
  transform:			rotate(-90deg);
}

.vcpwlz-wlz-einzeln-25:before {
  font-family: "waldlaeuferzeichen-pfadfinden" !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "y";
  transform:			rotate(-90deg);
}

.vcpwlz-wlz-einzeln-24 {
	font-family: "waldlaeuferzeichen-pfadfinden" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "x";
  transform:			rotate(-90deg);
}

.vcpwlz-wlz-einzeln-24:before {
  font-family: "waldlaeuferzeichen-pfadfinden" !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "x";
  transform:			rotate(-90deg);
}

body,
html {
	padding:			0;
	margin:				0;
	min-height:			100%;
	font-family: Roboto, Arial, serif;
	overflow-x:			hidden;
	background:			#fff;
	font-style:normal;
	font-variant:normal;
}

h1 , section.main-content h2{
	color:#004287;
  font-family:Roboto, sans-serif;
	font-size:2.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.385;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	}
h2, section.main-content h3{
    color:#004287;
	font-family:Roboto, sans-serif;
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.444;
	margin-bottom:9px;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
}
h3, section.main-content h4 {
    color:#004287;
	font-family:Roboto, sans-serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.44;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:underline;
	text-indent:0;
	text-transform:none;
	widows:1;
}


p {
    color:#000000;
	font-family:Roboto, sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.5;
	margin-bottom:1.5;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}

aside.left {
	position:			fixed;
	left:				0;
	bottom:				0;
	width:				23rem;
	padding:			1rem;
	height:				auto;
	text-align:			justify;
	font-size:			0.8rem;
}

aside.right {
	position:			fixed;
	top:				0;
	right:				0;
	width:				4rem;
	text-align:			center;
}

aside.right * {
	display:			block;
	font-size:			1.5rem;
	margin:				1rem auto;
	width:				2em;
	height:				2em;
	border-radius: 2em;
	line-height:   2em;
	color:				#fff;
	background:			#004287;
}

section.main-content {
	display:			block;
	max-width:			40rem;
	margin-left:		25rem;
	padding-right:		4rem;
	padding-left:		4rem;
}
#inhalt {
	position:			absolute;
	top:				8rem;
	left:				0.5rem;
	right:				1rem;
	bottom:				0;
	overflow-y:			scroll;
	overflow-x:			hidden;
	padding-top:		1rem;
}
#inhalt ul
{
list-style-type: none;
}

#inhalt li {
	display:			block;
	white-space:		normal;
	padding:			0.125rem 0;
	padding-left:		0.5rem;
	clear:				both;
}

#inhalt li .kapitel-nummer {
    float: left;
    text-align: left;
}

#inhalt a {
	text-decoration:	none;
	color:				inherit;
	color:				#000;
}

#vcp-logo {
	position:			absolute;
	background:			#004287;
	width:				24rem;
	height:				8rem;
	z-index:			999;
}


#VCP-Wortbildmarke {
margin:5px 0 0 5px;
max-width:80%;
height:auto;
}

#vcp-logo h1 {
	position:			absolute;
	bottom:				0;
	right:				0;
	font-size:			1rem;
	color:				#fff;
	margin:				0rem;
	width:				18rem;
	padding-right:		2rem;
	padding-top:		2rem;
	padding-bottom:		1rem;
	text-align:			right;
	font-family:		Roboto, sans-serif;
}


ul {
	list-style: 		none;
	padding:			0;
	margin:				0;
}

a {
	text-decoration:	none;
	color: #00b9f2;
  font-weight: bold;
}

header {
	position:			fixed;
	top:				0;
	left:				0;
	width:				25rem;
	bottom:				15rem;
	padding:			0rem;
}
